.logo {
    color: white;
}

.adjust{
    display: flex;
    justify-content: center;
}

.background {
        background-image: url(https://images.unsplash.com/photo-1607026567935-9688a07f7821?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2916&q=80);
        height: 90vh;
        display: flex;
        justify-content: center;
}

.headerContainer {
    margin-bottom: 0vh !important;
    margin-top: 0vh !important;
}

.header {
    color: white !important;
}

.content {
    color: white !important;
}

