body {
    background: lightblue;
}

.start {
    display: flex;
    justify-content: center;
    margin-top: 350px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}