.container {
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    width: 30vw;
}

.myButton {
    border: none;
    background-color: white;
    border-radius: 25%;
}

