.container {
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    margin: 10px;
    border-radius: 10px;
    width: 30vw;
}

.myButton {
    border: none;
    outline:none;
    margin-bottom: 5vh;
    background-color: transparent;

}



