.footer_Container {
    background-color: #1C1D1E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 100%;
    border: 1px solid black;
    // margin-top: 2vh;
}

.logos {
    color: white;
}

.smallContainer {
    display: flex;
    justify-content: center;
    width: 100px;
}